extends ../../layout

block content
    .bg-image(style="\
            background-image: url('../../images/empleado.jpg'); height: 100vh;")
            .container(style="color:white")
                .row
                    .col-10.ms-auto.text-center
                        if empleado 
                            h1(style="font-weight: bold") Actualizar empleado #{empleado.nombre}  #{empleado.apellido}
                        else
                            h1(style="font-weight: bold") Cargar Empleado
                    .col-2.ms-auto.me-auto
                        .d-grid.gap-2
                            button.btn.btn-danger(type="submit", onclick="location.href='/admin/empleado'")(style="font-weight: bold") VOLVER 
                .row.align-items-center(style="padding-top: 3rem;")
                    .col-7.ms-auto.me-auto
                        - var url = empleado ? empleado.dni+"?_method=PUT" : "";
                        form(name="registro", action="./"+url, method="post")
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="dni") DNI:
                                input.col-sm-10(type="text" name="dni", id="dni", value=empleado ? empleado.dni : "")
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="nombre") Nombre: 
                                input.col-sm-10(type="text" name="nombre" id="nombre" value=empleado ? empleado.nombre: "")
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="apellido") Apellido: 
                                input.col-sm-10(type="text" name="apellido" id="apellido" value=empleado ? empleado.apellido: "")
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="mail") Mail:
                                input.col-sm-10(type="email", name="mail" value=empleado ? empleado.mail: "", disabled=empleado ? true : false)
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="contraseña") Contraseña:
                                input.col-sm-10(type="password", name="contraseña" value=empleado ? "": "", disabled=empleado ? true : false)
                            .mb-3.row
                                label.col-sm-2.col-form-label.bg-dark(for="celular") Celular:
                                input.col-sm-10(type="tel", name="celular" value=empleado ? empleado.celular: "")
                            .mb-3.row
                                label.col-sm-3.col-form-label.bg-dark(for="area") Area:
                                select.form-select.form-select-sm(name="area")(style="font-weight: bold")
                                    if empleado
                                        option(value= 0 ) No Asignada
                                        each a in area
                                            if empleado.id_area == a.id_area
                                                option(value= a.id_area selected="true") #{a.nombre_area}
                                            else 
                                                option(value= a.id_area) #{a.nombre_area}
                                    else
                                        option(value= 0 ) No Asignada
                                        each a in area
                                            option(value= a.id_area) #{a.nombre_area}
                            .mb-3.row
                                if empleado
                                    if empleado.estado = 1
                                        input.form-check-input(type="radio" id="activo" name="estado" value=1 checked)
                                        label.col-sm-3.col-form-label.bg-dark(for="activo") Activo
                                        br
                                        input.form-check-input(type="radio" id="desactivo" name="estado" value=0)
                                        label.col-sm-3.col-form-label.bg-dark(for="desactivo") Desactivo
                                    else
                                        input.form-check-input(type="radio" id="activo" name="estado" value=1)
                                        label.col-sm-3.col-form-label.bg-dark(for="activo") Activo
                                        br
                                        input.form-check-input(type="radio" id="desactivo" name="estado" value=0 checked)
                                        label.col-sm-3.col-form-label.bg-dark(for="desactivo") Desactivo
                                else
                                        input.form-check-input(type="radio" id="activo" name="estado" value=1)
                                        label.col-sm-3.col-form-label.bg-dark(for="activo") Activo
                                        br
                                        input.form-check-input(type="radio" id="desactivo" name="estado" value=0 checked)
                                        label.col-sm-3.col-form-label.bg-dark(for="desactivo") Desactivo
                            .mb-3.row
                                .col-sm-6.ms-auto.me-auto
                                    .d-grid.gap-2
                                        input.btn.btn-success.btn-lginput(type="submit", onclick="return validarRegistro()", value= empleado ? "Actualizar" : "Cargar")
